/********** Main page styles **********/
body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 218, 149);
}

a {
  text-decoration: none;
}

/********** Landing styles **********/
.landing {
  height: 40vh;
  background-image: url(../img/set-your-goals.jpg);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  image-rendering: auto;
  background-position: center;
}

#landing-header {
  align-self: center;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
  color: rgba(168, 29, 29, 0.788);
  padding-left: 1rem;
}

/********** Main nav styles **********/
.main-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid black;
  border-radius: 5px;
}

.main-nav li {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  padding: .5em 0 .3em;
  
}

.main-nav a {
  color: rgb(168, 29, 29);
}

 /********** Secondary nav styles **********/
.secondary-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 .5rem 0;
}

.nav-box {
  padding: 1.5rem 2rem;
  margin: -1rem 0 .5rem;
  border-radius: 6px;
  color: rgba(168, 29, 29, 0.774);
  font-weight: bold;
  transition-duration: 200ms;
  transition-property: padding, background-color, color;
  background-color: rgb(40, 175, 157);
  font-family: 'Raleway', sans-serif;
}

.nav-box:hover {
  padding: 1.75rem 2.25rem;
  background-color: rgba(168, 29, 29, 0.774);
  color: rgb(40, 175, 157);
}

/********** Main content styles **********/
.main-header {
  font-family: 'Roboto Slab', serif;
  color: rgba(168, 29, 29, 0.774);
  text-align: center;
  font-size: 2rem;
  margin: 1rem, 0, 0;
}

.main-paragraphs {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  width: 75%;
  text-align: center;
}




/********** Main gallery styles **********/
.photo-gallery {
  margin: auto;
  max-width: 90%;
}

.gallery-highlight {
  display: flex;
  margin: auto;
  margin: .6rem auto 1rem;
  
}

.gallery-highlight img {
  
}

.gallery-highlight, .gallery-preview img {
 width: 90%;
 height: auto;
}

.gallery-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}


/********** Keyframes **********/
@keyframes
fadeIn {  to {
 opacity: 1;
  }
}
 
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

